@using Library.Data
@model IEnumerable<Image>

<div class="myRow">
    @foreach (Image i in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <a href="/Home/image?id=@i.Id">
                    <img src="/My_Images/@i.ImageName" style="width: 800px;" />
                </a>
                <div class="caption">
                    <h4>
                        <a href="/Home/image?id=@i.Id">@i.Title</a>
                    </h4>

                </div>

            </div>
        </div>
    }
</div>

@section scripts{
    <!--   <script src="~/JavaScript.js"></script>-->
}